<h2>Greetings [[name]]</h2>
<p>Thank you for your endorsement of Quaker Call to Action.</p>

<p>Your endorsement strengthens a growing community of Friends who are committed to truth, justice, and the protection
of democratic principles in this challenging time.  We are grateful for your willingness to stand publicly with others
across our wider Quaker family. Each signature represents a voice of conscience, and your participation helps
carry forward the long tradition of Friends’ witness for equality, integrity, and nonviolence.</p>

<p>Your support encourages Meetings, organizations, and individual Friends to reflect, to speak, and to act with renewed clarity.
As our work continues, we will keep you informed about opportunities for learning, connection, and collective action.
Your presence in this work matters, and we are thankful to be walking this path with you.</p>

<p>This is the personal information that you submitted. Please let us know if any corrections needed to be made.<br><br>
    Email address: [[email]]<br>
    Phone: [[phone]]<br>
    City: [[city]]<br>
    State: [[state]]<br>
    Country: [[country]]<br>
</p>

<p>
Yours in faith,<br>
    <strong>The Quaker Call Steering Committee</strong><br>
Marian Beane, Bruce Birchard, Lauren Brownlee, Diana Hadley, Dale Keairns, Yvonne Keairns,
Mary Ellen McNish, Jim Waddington, Terry SoRelle, and Michael Wajda (clerk)
</p>



