<div id="endorserslist-load-message"><span class="fa fa-spinner fa-pulse fa-2x" style="color:lightgrey"></span></div>
<div id="endorserslist-view-container" style="display: none">
    <div style="min-height:10ex"><h1 style="text-align: center">Individual Endorsers</h1></div>


    <h4 style="text-align: center"><span data-bind="text:endorsementCount"></span> received as of <span data-bind="text:asOf"></span></h4>
    <!-- h4 style="text-align: center">Total: <span data-bind="text:endorsementCount"></span></h4 -->
    <table class="table" style="width: 100%;">
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody data-bind="foreach:endorsementList" >
        <tr>
            <td  data-bind="text:Name"></td>
            <td data-bind="text:Location"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
