#message-space {
    max-width: 60rem;
    margin: auto;
}
#signin-form {
    border: 1px double black;
    padding: 2rem;
}
.signin-message-panel {
    width: 100%;
    padding: 2rem;
}
.signin-message {

}

#site-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: 1px solid lightgray;
}

.error {color: red}

#nutshell-main-section {
    padding-bottom: 10ex;
}

.security-section {
    display: none;!important;
}

#top-navbar {
    padding: 0;
    border: 1px solid darkgray;
}

h1, h2, h3,h4 {
    color: rgb(0, 117, 193);
}

body, footer, p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
