#message-space {
    max-width: 60rem;
    margin: auto;
}
#signin-form {
    border: 1px double black;
    padding: 2rem;
}
.signin-message-panel {
    width: 100%;
    padding: 2rem;
}
.signin-message {

}

#site-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.error {color: red}
