<div id="qcallgroupendorsement-load-message"><span class="fa fa-spinner fa-pulse fa-2x" style="color:lightgrey"></span></div>
<div id="qcallgroupendorsement-view-container" class="row" style="display: none">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <!-- view model bindings -->
                <!-- Use JotForm's JSForm embed code temporarily -->
                <script type="text/javascript" src="https://form.jotform.com/jsform/260033451934148"></script>
            </div>
        </div>
    </div>
</div>