<div id="qcallregistration-load-message"><span class="fa fa-spinner fa-pulse fa-2x" style="color:lightgrey"></span></div>
<div id="qcallregistration-view-container" class="row" style="display: none">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <!-- view model bindings -->
                <h1>Registration</h1>
                <h2>National Zoom Meeting</h2>
                <h2>March 22, 2026</h2>

                <p>Registration will open soon</p>
            </div>
        </div>
    </div>
</div>
