<div id="joinmeeting-load-message"><span class="fa fa-spinner fa-pulse fa-2x" style="color:lightgrey"></span></div>
<div id="joinmeeting-view-container" class="row" style="display: none">    <div data-bind="visible: !ready()">
        <div class="pt-4">
            <h2>Welcome to Quaker Call to Action National Meeting</h2>
            <p>
                <strong data-bind="text: messageText"></strong>
            </p>
        </div>
        <form id="joinmeeting-form" >
            <div class="form-group" data-bind="visible: needsEmail">
                <label class="control-label" for="email">Your registration email address:</label>
                <input type="text" class="form-control" id="email" data-bind="textInput: emailAddress" />

            </div>
            <div class="form-group mt-3" data-bind="visible: needsName">
                <label class="control-label" for="name">Your name:</label>
                <input type="text" class="form-control" id="name" data-bind="textInput: participantName" />
            </div>
        </form>
        <p class="mt-3"><button type="button" class="btn btn-primary" data-bind="click: onContinue">Continue</button></p>
    </div>
    <div class="mt-4" data-bind="visible: ready">
        <h3>Click the link below, or use the meeting id and passcode to join the meeting</h3>
        <p>
            <strong><a data-bind="attr: { href: zoomUrl }" target="_blank">Join Meeting</a></strong>
        </p>
        <p>
            Meeting ID: <span data-bind="text: meetingId"></span>
        </p>
        <p>
            Passcode: <span data-bind="text: passcode"></span>
        </p>
    </div>

</div>
<div class="row">
</div>