<div id="joinmeeting-load-message"><span class="fa fa-spinner fa-pulse fa-2x" style="color:lightgrey"></span></div>
<div id="joinmeeting-view-container" class="" style="display: none;">
    <div data-bind="visible:!fatalError()">
        <div class="" id="site-header">
            <h3 style="color: #0b7f89" class="mt-2">Welcome to Quaker Call to Action National Meeting</h3>
            <h5>
                <span data-bind="text:meetingTheme"></span><br><br>
                    <span data-bind="text:meetingDate"></span> <span data-bind="text:meetingTime"></span>
            </h5>

            <h5 style="color: black" data-bind="text: messageText"></h5>
        </div>
        <div data-bind="visible:timeForMeeting() == 0">

        <div  data-bind="visible: !ready()" >
            <form id="joinmeeting-form" >
                <label class="control-label" for="email">Your registration email address:</label>
                <div class="form-group" data-bind="css: {'text-danger': emailError}">
                    <input type="text" class="form-control" id="email" data-bind="textInput: emailAddress" />
                    <span class="error" data-bind="visible: emailError">Enter a valid email address please</span>
                </div>

                <div class="form-group mt-3" data-bind="visible: needsName, css: {'text-danger': nameError} ">
                    <label class="control-label" for="name">Your name:</label>
                    <input type="text" class="form-control" id="name" data-bind="textInput: participantName" />
                    <span class="error" data-bind="visible: nameError">Enter your name please</span>
                </div>

                <div class="form-group mt-3 form-check" data-bind="visible: needsName">
                    <div class="form-check" data-bind="visible:notSubscribed">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" data-bind="checked: joinEmail">
                        <label class="form-check-label" for="flexCheckChecked">
                            Join our email list to receive future announcements
                        </label>
                    </div>
                </div>

            </form>
            <p class="mt-3"><button type="button" class="btn btn-primary" data-bind="click: onContinue">Continue</button></p>
        </div>
        <div class="mt-4" data-bind="visible: ready">
            <p>
                <strong><a data-bind="attr: { href: zoomUrl }" target="_blank">Join Meeting</a></strong>
            </p>
            <p>
                Meeting ID: <span data-bind="text: zoomId"></span>
            </p>
            <p>
                Passcode: <span data-bind="text: zoomPasscode"></span>
            </p>
        </div>
        </div>
    </div>
    <div data-bind="visible: fatalError" id="errorDisplay" style="margin-top:10ex">
        <h4>Sorry we are not able to complete your request.</h4>
    </div>
    <div id="site-footer-plain" style="padding-left: 2rem;padding-top: 2ex; padding-bottom: 1rem">
        <hr>
        <p>For assistance please <a href="#" data-bind="click:onShowMessageForm"> contact us here.</a></p>
    </div>

    <div class="modal" id="message-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Send a message to the meeting administrator.</h4>
                    <button type="button" class="close btn-close"
                            data-dismiss="modal"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        <span data-bind="visible:bootstrapVersion() < 5" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" data-bind="css: {'has-error': fromNameError}">
                        <label class="control-label form-control-label" for="fromName">Your name</label>
                        <span class="error" data-bind="visible: fromNameError, text: fromNameError"></span>
                        <input type="text" class="form-control" id="fromName" data-bind="textInput: fromName" />
                    </div>

                    <div class="form-group" data-bind="css: {'has-error': fromAddressError}">
                        <label class="control-label" for="fromAddress">Your email address</label>
                        <span class="error" data-bind="visible: fromAddressError, text: fromAddressError"></span>
                        <input type="text" class="form-control" id="fromAddress" data-bind="textInput: fromAddress" />
                    </div>

                    <div class="form-group" data-bind="css: {'has-error': subjectError}">
                        <label class="control-label" for="subject">Subject</label>
                        <span class="error" data-bind="visible: subjectError, text: subjectError"></span>
                        <input type="text" class="form-control" id="subject" data-bind="textInput: messageSubject" />
                    </div>

                    <div class="form-group"  data-bind="css: {'has-error': bodyError() != ''}">
                        <label class="control-label" for="body">Message</label>
                        <span class="error" data-bind="visible: bodyError, text: bodyError"></span>
                        <textarea rows="8" class="form-control" id="body" data-bind="value: messageBody"></textarea>
                    </div>


                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-bind="click:onSendMessage">Send Message</button>
                    <!-- data-bs-dismiss used by bootstrap 5, data-dismiss used by bootstrap 3 and 4 -->
                    <a href="#" data-bs-dismiss="modal" data-dismiss="modal">Close</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
